<div class="container">
<h1>Places</h1>
</div>

<div class="container">
<ul>
  <% for place in @places %>
    <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
  <% end %>
</ul>
</div>

<div class="container">
<p>
  <a href="/places/new" class="btn btn-secondary">New place</a>
</p>
</div>